{% extends "base.html" %} {% block content %}
<div class="recommendations">
    <div>
        <h1>Recommendations</h1>
    </div>
    <div>
        <p>You have search Spotify for <b>{{track_search}}</b></p>
        <!--embed spotify-->
        <div>
            <iframe src={{spotify_embed_url}} width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
        </div>
        <p>Here are the five closest songs we could find:</p>
    </div>

    <br /> {% for item in recommendations %}
    <ol>{{ item[1] }}</ol>
    {% endfor %}
    <div class="container_button" id=footer>
        <form action="/">
            <button type="submit">Go Back</button>
        </form>
    </div>
</div>
</div>
{% endblock %}